* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

.navigation {
    background-color: wheat;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px;
    text-align: center;
    position: fixed;
    z-index: 1000;
}

.A-LINK {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.A-LINK:hover {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
}

.A-LINK:active {
    transition: 0.3s ease;
    filter: blur(5px);
}

gambar {
    position: fixed;
    top: 8px;
    left: 10px;
    z-index: 1001; /* Pastikan gambar berada di atas konten lainnya */
}

gambar:active {
    filter: blur(3px);
}

.content {
    padding-top: 70px; /* Tambahkan padding agar konten tidak tertutup navbar */
     /* Tambahkan ini untuk memastikan teks dalam .text di tengah */
}

.gambartengah {
    background-image: url('soedoeg.png');
    width: 100vw;
    height: 100vh; /* Gambar menutupi seluruh tinggi viewport */
    background-size: contain; /* Gambar akan menyesuaikan dengan ukuran elemen tanpa terpotong */
    background-repeat: no-repeat; /* Gambar tidak akan diulang */
    background-position: center; /* Gambar berada di tengah */
}
.text{
    padding: 50px;
    font-size: 20px;   
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-style: oblique;
    margin: 100px 0;
    
}

.onestop {

}

footer {
    background-color: wheat;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.aboutus{
    padding-top: 90px;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.company{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
.header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    font-style: oblique;
}
.futer{
    background-color: wheat;
    text-align: center;
    font-size: 25px;
    padding: 0px;
    font-weight: bolder;
    font-style:italic;
    position: fixed;
    color: red;
    bottom: 0;
    width: 100%;
    height: 200px;
    
}
.provide{
    padding-top: 90px;
    text-align: center;
}
.daycare{
padding-top: 20px;
text-decoration: underline;
font-size: 30px;
}
.dedicated{
    font-size: 20px;
}
.terms{
    font-size: 20px;
    text-decoration: underline;
}
.li{
    list-style-type: style type;;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 1px;
    
}
.footer-service{
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: red;
    font-style: italic;
    font-family: arial,sans-serif;
}
.gmap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}
.visitus{
    text-align: center;
    margin-bottom: 200px;
      
}
.klik{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.klik:hover{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 5px;
}
.klik:active{
    transition: 0.3 ease;
}
